<div class="col-xl-3 col-md-3 col-sm-6 col-xs-6 mb-4">
  <div class="card">
    <img
      src="https://ikasnovatv.educacion.navarra.es/view/img/notfound_portrait.jpg"
      class="card-img-top"
      alt="popcorns"
    />
    <div class="card-body">
      <h5 class="card-title">{{this.title}}</h5>
      <p class="card-text">Year: {{this.year}}</p>
      <p class="card-text">Director: {{this.director}}</p>
      <a href="/movies/{{this._id}}" class="btn btn-primary">View detail</a>
    </div>
  </div>
</div>
