<div class="container mt-3">
  <h1 class="text-center mt-4 mb-1">Welcome {{name}}!</h1>

  {{#if isAdult}}
    <h5 class="text-center text-primary mb-4">Puedes ver contenido sensible</h2>
  {{/if}}
</div>
